<div class=" text-center">
    <h1 class=" text-info">Inguiry confirmation</h1>
    <p>We have received your Inquiry and Someone from our team will contact you shortly</p>
    <img src="/Images/patio.jpg" width="80%" />
</div>